[submodule "lua/custom_plugins/patterns.nvim"]
	path = lua/custom_plugins/patterns.nvim
	url = ../patterns.nvim.git
[submodule "parsers/tree-sitter-lua_patterns"]
	path = parsers/tree-sitter-lua_patterns
	url = ../tree-sitter-lua_patterns.git
[submodule "lua/custom_plugins/bars.nvim"]
	path = lua/custom_plugins/bars.nvim
	url = ../bars.nvim.git
[submodule "lua/custom_plugins/icons.nvim"]
	path = lua/custom_plugins/icons.nvim
	url = ../icons.nvim.git
[submodule "lua/custom_plugins/markview.nvim"]
	path = lua/custom_plugins/markview.nvim
	url = ../markview.nvim.git
[submodule "parsers/tree-sitter-vhs"]
	path = parsers/tree-sitter-vhs
	url = ../tree-sitter-vhs.git
[submodule "lua/custom_plugins/oops.nvim"]
	path = lua/custom_plugins/oops.nvim
	url = ../oops.nvim.git
[submodule "lua/custom_plugins/ui.nvim"]
	path = lua/custom_plugins/ui.nvim
	url = ../ui.nvim.git
[submodule "lua/custom_plugins/helpview.nvim"]
	path = lua/custom_plugins/helpview.nvim
	url = ../helpview.nvim.git
[submodule "lua/custom_plugins/foldtext.nvim"]
	path = lua/custom_plugins/foldtext.nvim
	url = ../foldtext.nvim
[submodule "parsers/tree-sitter-qf"]
	path = parsers/tree-sitter-qf
	url = ../tree-sitter-qf.git
[submodule "parsers/tree-sitter-doctext"]
	path = parsers/tree-sitter-doctext
	url = ../tree-sitter-doctext.git
[submodule "parsers/tree-sitter-kitty"]
	path = parsers/tree-sitter-kitty
	url = ../tree-sitter-kitty.git
